<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.phonegap.aprjewellers.live"
        versionCode="3" 
        version   = "1.0.0">


    <name>APR Jewellers</name>

    <description>
        APR Jewellers are a leading wholesaler of gold bar 999 purity in spot market having offices in Hyderabad, Telangana 
        and Tamilnadu
    </description>

    <author href="http://www.magicbul.com" email="amitjain231@gmail.com">
        Amit kumar Jain
    </author>

	
	<gap:platform name="android" />
	
	<access origin="*" />	
	<gap:plugin name='cordova-plugin-whitelist' spec='1.0.0' source='npm' />
	<allow-navigation href="http://*/*" />
	<allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
	
	
	<icon src="icon.png" gap:platform="android" gap:density="ldpi" />
	<icon src="icon.png" gap:platform="android" gap:density="mdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="hdpi" />
	<icon src="icon.png" gap:platform="android" gap:density="xhdpi" />
	
	<!-- Preferences Permissions, Phonegap version to build -->
	<preference name="permissions" value="none"/>
	<preference name="phonegap-version" value="cli-5.2.0" />
	
	<!-- Required only Notification permission -->
	<feature name="http://api.phonegap.com/1.0/notification"/>

</widget>